In [3]:
# Import modules
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from selenium import webdriver
import pandas as pd
import time
from secret import username, password
from sqlalchemy import create_engine
import csv
import numpy as np
import html5lib

### Mac (Irina) Connection

In [4]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [5]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### Windows (Clay) Connection

In [6]:
# executable_path = {'executable_path': 'C:/Users/Clay/chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

### Dataset 1 - Web Scrape Wikipedia Most Costliest hurricanes

In [123]:
mojo_list = []
url = 'https://en.wikipedia.org/wiki/List_of_costliest_Atlantic_hurricanes'
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)
time.sleep(3)
print("Open web browser")
tables = pd.read_html(url)
time.sleep(3)
most_costly_hurricanes = tables[0]
print("Read and save table")
browser.quit()
most_costly_hurricanes.head()

Open web browser
Read and save table

,Name,Nominal damage(Billions USD),Normalized damage(Billions USD),Season,Storm classificationat peak intensity,Areas affected,References
0,Katrina,$125.0,$116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,[4][5]
1,Harvey,$125.0,$62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,[5][6]
2,Maria,$90.0,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,[7]
3,Irma,$77.2,$31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,[5]
4,Sandy,$68.7,$73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,[5][8]

In [ ]:
# # Rename Lifetime Gross to total_revenue_usd
# total_gross_info = total_gross_info.rename(columns={'Lifetime Gross': 'total_revenue_usd'})

In [130]:
most_costly_hurricanes.head()

,name,damage_usd,norm_damage_usd,year,category,states,References
0,Katrina,$125.0,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,[4][5]
1,Harvey,$125.0,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,[5][6]
2,Maria,$90.0,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,[7]
3,Irma,$77.2,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,[5]
4,Sandy,$68.7,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,[5][8]

In [131]:
# # Rename columns
most_costly_hurricanes = most_costly_hurricanes.rename(columns={'Name': 'name','Nominal damage(Billions USD)': 'damage_usd', 'Normalized damage(Billions USD)': 'norm_damage_usd', 
                'Season': 'year', 'Storm classificationat peak intensity': 'category', 'Areas affected':'states'})

In [133]:
# Drop Reference column
most_costly_hurricanes = most_costly_hurricanes.drop(columns='References')

In [134]:
most_costly_hurricanes.head()

,name,damage_usd,norm_damage_usd,year,category,states
0,Katrina,$125.0,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...
1,Harvey,$125.0,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...
2,Maria,$90.0,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...
3,Irma,$77.2,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...
4,Sandy,$68.7,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...

In [135]:
# Save to the csv file
most_costly_hurricanes.to_csv("Data/01_most_costly_hurricanes_wiki_web.csv")

In [136]:
most_costly_hurricanes.head()

,name,damage_usd,norm_damage_usd,year,category,states
0,Katrina,$125.0,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...
1,Harvey,$125.0,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...
2,Maria,$90.0,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...
3,Irma,$77.2,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...
4,Sandy,$68.7,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...

In [137]:
# Convert total_revenue_usd to Integer
damage_usd_int = most_costly_hurricanes['damage_usd']
len(damage_usd_int)

61

In [138]:
list = []
for i in damage_usd_int:
    list.append(i.split('$')[-1]) 
print(list[:61])

['125.0', '125.0', '90.0', '77.2', '68.7', '38.0', '27.4', '27.3', '26.1', '25.1', '24.2', '18.5', '16.9', '16.5', '14.2', '13.9', '10.1', '9.47', '8.9', '8.5', '8.31', '7.94', '6.5', '6.08', '5.5', '5.07', '5.0', '5.0', '4.7', '4.2', '3.96', '3.9', '3.98', '3.11', '3.0', '2.98', '2.97', '2.8', '2.35', '2.1', '2.1', '1.95', '1.87', '1.8', '1.77', '1.6', '1.57', '1.54', '1.52', '1.5', '1.5', '1.5', '1.5', '1.42', '1.42', '1.3', '1.28', '1.16', '1.03', '1.01', '1.0']

In [139]:
# Change revenue column from string to big integer
most_costly_hurricanes['damage_usd_int'] = list

In [140]:
most_costly_hurricanes.head()

,name,damage_usd,norm_damage_usd,year,category,states,damage_usd_int
0,Katrina,$125.0,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.0
1,Harvey,$125.0,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.0
2,Maria,$90.0,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,90.0
3,Irma,$77.2,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.2
4,Sandy,$68.7,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.7

In [141]:
# # Drop Reference column
most_costly_hurricanes = most_costly_hurricanes.drop(columns='damage_usd')

In [142]:
most_costly_hurricanes.head()

,name,norm_damage_usd,year,category,states,damage_usd_int
0,Katrina,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.0
1,Harvey,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.0
2,Maria,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,90.0
3,Irma,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.2
4,Sandy,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.7

# Prepare Cost data

In [143]:
# # reset index
# most_costly_hurricanes.reset_index()

In [144]:
len(most_costly_hurricanes)

61

In [145]:
# # Rename columns
# total_gross_info = total_gross_info.rename(columns={'Rank': 'rank', 'Title': 'name', 
#                 'Year': 'year', 'GrossNumeric': 'total_revenue_usd'})

In [14]:
# total_gross_info.head()

In [13]:
# Change name column to lower case to easier join 
# total_gross_info['name'] = total_gross_info['name'].str.capitalize()

In [14]:
# # Drop year column
# total_gross_info = total_gross_info.drop(columns='year')

In [15]:
# # Rename Lifetime Gross to total_revenue_usd
# total_gross_info = total_gross_info.rename(columns={'Lifetime Gross': 'total_revenue_usd'})

In [15]:
# total_gross_info.head()

In [16]:
# # Convert total_revenue_usd to Integer
# tot_rev_usd = total_gross_info['total_revenue_usd']
# len(tot_rev_usd)

In [17]:
# list = []
# for i in tot_rev_usd:
#     list.append(i.split('$')[-1]) 
# print(list[:10])

In [18]:
# split_list = []
# for i in list:
#     i = i.split(',')
#     split_list.append(''.join(i))

In [19]:
# merged_list = []
# for i in split_list:
#     merged_list.append(''.join(i)) 
# print(merged_list[:5])

In [20]:
# len(merged_list)

In [22]:
# Change revenue column from string to big integer
# total_gross_info['total_revenue_usd'] = merged_list

In [23]:
# total_gross_info['total_revenue_usd'] = pd.to_numeric(total_gross_info['total_revenue_usd'])

In [24]:
# total_gross_info.dtypes

In [25]:
# total_gross_info.to_csv('csv_files/Total_Gross_Info.csv')

## Dataset 2 - Kaggle domestic revenue data - Load and clean¶
#### Please download source data set - https://www.kaggle.com/danielgrijalvas/movies?select=movies.csv
#### Save in 'csv_files/datasets_2745_4700_movies.csv'

In [26]:
# path = 'csv_files/datasets_2745_4700_movies.csv'

In [27]:
# # Convert all rows to UTF-8 type and write to a new file
# with open(path, 'r', encoding='utf-8', errors='ignore') as infile, open(path + '_UTF8.csv', 'w') as outfile:
#      inputs = csv.reader(infile)
#      output = csv.writer(outfile)

#      for index, row in enumerate(inputs):
#          # Create file with no header
#          if index == 0:
#              continue
#          output.writerow(row)

In [28]:
# # Read csv file into df
# domestic_df = pd.read_csv('csv_files/datasets_2745_4700_movies.csv_UTF8.csv')

In [29]:
# # Add header 
# domestic_df.columns = ["budget","company","country","director","genre","gross","name","rating","released","runtime","score","star","votes","writer","year"]

In [26]:
# domestic_df.head(2)

In [31]:
# Make names capitalized
# domestic_df['name'] = domestic_df['name'].str.capitalize()

In [70]:
# domestic_df.head(2)

In [71]:
# # Getting the duplicate movies
# duplicated_domestic_df = domestic_df.loc[domestic_df.duplicated(subset=["name","director"]), "name"].unique()
# duplicated_domestic_df

In [72]:
# # Getting the duplicate movie by title and star released. 
# duplicated_domestic_df = domestic_df.loc[domestic_df.duplicated(subset=["name","star"]), "name"].unique()
# duplicated_domestic_df

In [73]:
# # Getting the duplicate movie by title and country released. 
# duplicated_domestic_df = domestic_df.loc[domestic_df.duplicated(subset=["name","country"]), "name"].unique()
# duplicated_domestic_df

In [28]:
# # Check duplicated movie
# duplicated_domestic_df = domestic_df.loc[domestic_df["name"] == "Godzilla"]
# duplicated_domestic_df

In [29]:
# # Rename gross to domestic_revenue_usd
# domestic_gross_info = domestic_df.rename(columns={'gross': 'domestic_revenue_usd'})

In [38]:
# # Rename released to release_date
# domestic_gross_info = domestic_gross_info.rename(columns={'released': 'release_date'})

In [39]:
# # Drop columns we do not need ('budget', 'runtime', 'score', 'votes', 'year')
# domestic_gross_info = domestic_gross_info.drop(columns=['budget', 'runtime', 'score', 'votes'])

In [146]:
# domestic_gross_info.head(2)

In [147]:
# domestic_gross_info.dtypes

In [148]:
# # Change release_date to datetime type
# domestic_gross_info['release_date'] = pd.to_datetime(domestic_gross_info['release_date'])

In [149]:
# domestic_gross_info.dtypes

In [150]:
# # Write to csv file
# domestic_gross_info.to_csv('csv_files/Domestic_Gross_Info.csv')

In [151]:
# TO THIS POINT, WE HAVE CREATED TWO MASTER DATAFRAMES THAT ARE CLEAN:
# (1) Total_Gross_Info.csv
# (2) Domestic_Gross_Info.csv

### Merge total_gross_info and domestic_gross_info tables on 'name' column

In [152]:
# # combine total and domestic tables on left using name of the movie column
# combined_gross_info = pd.merge(domestic_gross_info, total_gross_info, how='left', on="name")

In [153]:
# combined_gross_info.head()

In [154]:
# len(combined_gross_info)AssertionError

In [155]:
# # Add new column and compute the international_total_revenue
# combined_gross_info['international_revenue_usd'] = \
#         (combined_gross_info['total_revenue_usd'] - combined_gross_info['domestic_revenue_usd'])

In [156]:
# # Rename columns
# combined_gross_info = combined_gross_info.rename(columns={'star':'actor'})

In [157]:
# # Getting the duplicate movie by title and star released. 
# dupl_combined_df = combined_gross_info.loc[combined_gross_info.duplicated(subset=["name","director", "year"]), "name"].unique()
# dupl_combined_df

In [158]:
# # Get all the data for the duplicate movie 
# dupl_df = combined_gross_info.loc[combined_gross_info["name"] == "Clash of the titans"]
# dupl_df

#### (removed) Use pandas to push data into database

In [159]:
# # Check existing tables
# engine.table_names()

In [160]:
# # Create domesic gross revenue table in the database
# domestic_gross_info.to_sql(name='domestic_gross_info', con=engine, if_exists='append', index=False)

In [161]:
# type(total_gross_info['name'])

In [162]:
# total_gross_info

In [163]:
# domestic_gross_info

In [164]:
# # Remove the duplicates
# # clean_combined_df = combined_gross_info.drop_duplicates(subset=['name','director','year'], keep='first')
# clean_combined_df

In [165]:
# len(clean_combined_df)

### Create movies table from combined table

In [166]:
# # Re-arrange the columns and write into new table
# movies = clean_combined_df[['name','total_revenue_usd','international_revenue_usd','domestic_revenue_usd',
#                               'director','actor','writer','genre','rating','company','country','year']]

In [167]:
# movies.head()

In [168]:
# # Fill NaN values with zeroes
# movies[['total_revenue_usd','international_revenue_usd','domestic_revenue_usd']] = \
#     movies[['total_revenue_usd','international_revenue_usd','domestic_revenue_usd']].fillna(0)

#### Generate movie_id index

In [169]:
# movies.head()

In [170]:
# # Sort table by total revenue column
# movies_sorted = movies.sort_values(by='total_revenue_usd', ascending=False)
# movies_sorted.head()

In [171]:
# # Reset index
# movies_reset_index = movies_sorted.reset_index(drop=True)
# movies_reset_index.head()

In [172]:
# # Start index from 1
# movies_reset_index.index += 1

In [173]:
# # Reset index
# movies = movies_reset_index.reset_index()

In [174]:
# movies.head()

In [175]:
# movies = movies.rename(columns={'index': 'movie_id'})

In [176]:
# movies.head()

In [177]:
# # Reset index
# movies.reset_index()

In [178]:
# movies.head()

### Extract Actor data into a separate table

In [179]:
# # Save star_actor data into a separate table
# actor = movies['actor'].unique()
# len(actor)

In [180]:
# actor[:5]

In [181]:
# actor = pd.DataFrame({'actor': actor})
# actor.head(2)

In [182]:
# actor.index += 1
# actor

In [183]:
# actor = actor.reset_index()
# actor.head(2)

In [184]:
# actor = actor.rename(columns={'index': 'actor_id'})
# actor.head()

In [185]:
# len(actor)

### Merge movie and actor df on actor column

In [186]:
# # combine movie and tables
# movie_actor = pd.merge(movies, actor, how='outer', on="actor")

In [187]:
# # Extract only movie_id and actor_id columns
# movie_actor = movie_actor[['movie_id', 'actor_id']]
# movie_actor

In [188]:
# # Save to csv
# movie_actor.to_csv('csv_files/movie_actor.csv')

### Create director_movie table

In [189]:
# # Save star_actor data into a separate table
# director = movies['director'].unique()
# len(director)

In [190]:
# director[:5]

In [191]:
# director = pd.DataFrame({'director': director})
# director.head(2)

In [192]:
# director.index += 1
# director

In [193]:
# director = director.reset_index()
# director.head(2)

In [194]:
# director = director.rename(columns={'index': 'director_id'})
# director.head()

In [195]:
# len(director)

### Merge movie and director df on actor column

In [196]:
# # combine movie and tables
# movie_director = pd.merge(movies, director, how='outer', on="director")

In [197]:
# # Extract only movie_id and actor_id columns
# movie_director = movie_director[['movie_id', 'director_id']]
# movie_director

In [198]:
# # Save to csv
# movie_director.to_csv('csv_files/movie_director.csv')

### Create company_movie table

In [199]:
# # Save company_movie data into a separate table
# company = movies['company'].unique()
# len(company)

In [200]:
# company[:5]

In [201]:
# company = pd.DataFrame({'company': company})
# company.head(2)

In [202]:
# company.index += 1
# company

In [203]:
# company = company.reset_index()
# company.head(2)

In [204]:
# company = company.rename(columns={'index': 'company_id'})
# company.head()

In [205]:
# len(company)

### Merge movie and company df on actor column

In [206]:
# # combine movie and tables
# company_movie = pd.merge(movies, company, how='outer', on="company")

In [207]:
# # Extract only movie_id and actor_id columns
# company_movie = company_movie[['movie_id', 'company_id']]
# company_movie

In [208]:
# # Save to csv
# company_movie.to_csv('csv_files/company_movie.csv')

## Extract Writer data into a separate table

In [209]:
# # Save writer data into a separate table
# writer = movies['writer'].unique()
# len(writer)

In [210]:
# writer[:5]

In [211]:
# writer = pd.DataFrame({'writer': writer})
# writer.head(2)

In [212]:
# writer.index += 1
# writer

In [213]:
# writer = writer.reset_index()
# writer.head(2)

In [214]:
# writer = writer.rename(columns={'index': 'writer_id'})
# writer.head()

In [215]:
# len(writer)

### Merge writer_id column to movies table

In [216]:
# # combine movie and tables
# movies = pd.merge(movies, writer, how='outer', on="writer")

In [217]:
# movies.head()

## Extract Genre data into a separate table

In [218]:
# # Save genre data into a separate table
# genre = movies['genre'].unique()
# len(genre)

In [219]:
# genre[:5]

In [220]:
# genre = pd.DataFrame({'genre': genre})
# genre.head(2)

In [221]:
# genre.index += 1
# genre

In [222]:
# genre = genre.reset_index()
# genre.head(2)

In [223]:
# genre = genre.rename(columns={'index': 'genre_id'})
# genre.head()

In [224]:
# len(genre)

### Merge genre_id column to movies table

In [225]:
# # combine movies and genre
# movies = pd.merge(movies, genre, how='outer', on="genre")

In [226]:
# movies.head()

In [227]:
# movies.to_csv('csv_files/movies_genre_ids.csv')

## Extract rating data into a separate table

In [228]:
# # Save rating data into a separate table
# rating = movies['rating'].unique()
# len(rating)

In [229]:
# rating[:5]

In [230]:
# rating = pd.DataFrame({'rating': rating})
# rating.head(2)

In [231]:
# rating.index += 1

In [232]:
# rating = rating.reset_index()
# rating.head(2)

In [233]:
# rating = rating.rename(columns={'index': 'rating_id'})
# rating.head()

In [234]:
# len(rating)

### Merge rating_id column to movies table

In [235]:
# # combine movies and rating
# movies = pd.merge(movies, rating, how='outer', on="rating")

In [236]:
# movies.head()

In [237]:
# movies.to_csv('csv_files/movies_rating_ids.csv')

# Remove unnecessary columns from movies

In [238]:
# movies.head(2)

In [239]:
# movies = movies[['movie_id','country','genre_id','writer_id','rating_id','name','year','domestic_revenue_usd',
#                  'international_revenue_usd', 'total_revenue_usd']]

In [240]:
# movies.head()

## Push table to PostgreSQL

### !!! Please import QuickDBD-export.sql in the repo root folder file in pgAdmin
### !!! Run SQL file to generate the tables and reference links
### UNCOMMENT cell below to run the rest of the code

In [241]:
# Connect to the local database
connection_string = f'{username}:{password}@localhost:5432/hurricanes_db'
engine = create_engine(f'postgresql://{connection_string}')

In [139]:
# genre.to_sql(name='genre', con=engine, if_exists='append', index=False)

In [140]:
# writer.to_sql(name='writer', con=engine, if_exists='append', index=False)

In [141]:
# director.to_sql(name='director', con=engine, if_exists='append', index=False)

In [142]:
# rating.to_sql(name='rating', con=engine, if_exists='append', index=False)

In [143]:
# company.to_sql(name='company', con=engine, if_exists='append', index=False)

In [144]:
# actor.to_sql(name='actor', con=engine, if_exists='append', index=False)

In [145]:
# movies.to_sql(name='movies', con=engine, if_exists='append', index=False)

In [146]:
# company_movie.to_sql(name='company_movie', con=engine, if_exists='append', index=False)

In [147]:
# movie_actor.to_sql(name='movie_actor', con=engine, if_exists='append', index=False)

In [244]:
most_costly_hurricanes.head()

,name,norm_damage_usd,year,category,states,damage_usd_int
0,Katrina,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.0
1,Harvey,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.0
2,Maria,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,90.0
3,Irma,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.2
4,Sandy,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.7

In [242]:
most_costly_hurricanes["norm_damage_usd"] = most_costly_hurricanes["norm_damage_usd"].str.replace('$','')

In [245]:
most_costly_hurricanes["damage_usd_int"] = most_costly_hurricanes["damage_usd_int"].str.replace('<','')

In [246]:
most_costly_hurricanes["damage_usd_int"] = most_costly_hurricanes["damage_usd_int"].str.replace('>','')

In [247]:
most_costly_hurricanes["damage_usd_int"] = most_costly_hurricanes["damage_usd_int"].str.replace('$','')

In [252]:
most_costly_hurricanes["norm_damage_usd"] = most_costly_hurricanes["norm_damage_usd"].str.replace('<','')

In [253]:
most_costly_hurricanes.head()

,name,norm_damage_usd,year,category,states,damage_usd_int
0,Katrina,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.0
1,Harvey,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.0
2,Maria,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,90.0
3,Irma,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.2
4,Sandy,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.7

In [254]:
most_costly_hurricanes['norm_damage_usd'] = most_costly_hurricanes['norm_damage_usd'].astype(float)

In [255]:
most_costly_hurricanes['damage_usd_int'] = most_costly_hurricanes['damage_usd_int'].astype(float)

In [256]:
most_costly_hurricanes['damage_usd_int'] = most_costly_hurricanes['damage_usd_int'].dropna()

In [257]:
most_costly_hurricanes['norm_damage_usd'] = most_costly_hurricanes['norm_damage_usd'].dropna()

In [258]:
len(most_costly_hurricanes)

61

In [259]:
most_costly_hurricanes.head(100)

,name,norm_damage_usd,year,category,states,damage_usd_int
0,Katrina,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.00
1,Harvey,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.00
2,Maria,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,90.00
3,Irma,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.20
4,Sandy,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.70
...,...,...,...,...,...,...
56,Isidore,6.0,2002,Category 3 hurricane,Cuba Yucatán Peninsula Louisiana,1.28
57,Lili,6.0,2002,Category 4 hurricane,Lesser Antilles Greater Antilles Gulf Coast of...,1.16
58,Alberto,6.0,1994,Tropical storm,Southeastern United States,1.03
59,Emily,6.0,2005,Category 5 hurricane,The Caribbean Honduras Belize Mexico Texas,1.01
60,Bonnie,6.0,1998,Category 3 hurricane,Lesser Antilles East Coast of the United States,1.00

In [260]:
cost_df = most_costly_hurricanes

In [261]:
cost_df = cost_df.dropna()

In [262]:
len(cost_df)

54

In [268]:
cost_df.reset_index()

,index,name,norm_damage_usd,year,category,states,damage_usd_int
0,0,Katrina,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.00
1,1,Harvey,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.00
2,3,Irma,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.20
3,4,Sandy,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.70
4,5,Ike,35.2,2008,Category 4 hurricane,Greater Antilles Texas Louisiana Midwestern Un...,38.00
5,6,Wilma,31.9,2005,Category 5 hurricane,Greater Antilles Central America Florida,27.40
6,7,Andrew,106.0,1992,Category 5 hurricane,The Bahamas Florida Louisiana,27.30
7,8,Ivan,25.9,2004,Category 5 hurricane,The Caribbean Venezuela United States Gulf Coast,26.10
8,11,Rita,14.9,2005,Category 5 hurricane,Cuba Texas Louisiana,18.50
9,12,Charley,26.9,2004,Category 4 hurricane,Jamaica Cayman Islands Cuba Florida The Carolinas,16.90
10,13,Matthew,8.6,2016,Category 5 hurricane,Colombia Venezuela The Caribbean United States...,16.50
11,14,Irene,10.8,2011,Category 3 hurricane,The Caribbean United States East Coast Eastern...,14.20
12,15,Georges,6.0,1998,Category 4 hurricane,The Caribbean United States Gulf Coast,13.90
13,16,Frances,16.5,2004,Category 4 hurricane,The Caribbean Eastern United States Ontario,10.10
14,17,Hugo,25.1,1989,Category 5 hurricane,The Caribbean United States East Coast,9.47
15,19,Allison,6.0,2001,Tropical storm,Texas Louisiana Southern United States,8.50
16,20,Gustav,6.0,2008,Category 4 hurricane,Hispaniola Jamaica Cuba Louisiana,8.31
17,21,Jeanne,13.6,2004,Category 3 hurricane,The Caribbean Eastern United States,7.94
18,22,Floyd,13.9,1999,Category 4 hurricane,The Bahamas Eastern United States Atlantic Canada,6.50
19,23,Mitch,6.0,1998,Category 5 hurricane,Central America Yucatán Peninsula South Florida,6.08
20,24,Isabel,6.0,2003,Category 5 hurricane,Greater Antilles The Bahamas Eastern United St...,5.50
21,27,Fran,11.1,1996,Category 3 hurricane,Eastern United States Ontario,5.00
22,28,Opal,10.0,1995,Category 4 hurricane,Guatemala Yucatán Peninsula Eastern United States,4.70
23,30,Stan,6.0,2005,Category 1 hurricane,Mexico Central America,3.96
24,31,Karl,6.0,2010,Category 3 hurricane,Mexico Central America,3.90
25,32,Dennis,6.0,2005,Category 4 hurricane,Greater Antilles Southeastern United States,3.98
26,33,Isaac,6.0,2012,Category 1 hurricane,The Caribbean Eastern United States,3.11
27,34,Alicia,13.6,1983,Category 3 hurricane,East Texas Louisiana,3.00
28,35,Gilbert,6.0,1988,Category 5 hurricane,Venezuela Central America Hispaniola Mexico,2.98
29,36,Luis,6.0,1995,Category 4 hurricane,Leeward Islands Puerto Rico Bermuda,2.97
30,37,Lee,6.0,2011,Tropical storm,Louisiana Mississippi,2.80
31,38,Michelle,6.0,2001,Category 4 hurricane,Central America Jamaica Cuba The Bahamas,2.35
32,39,Marilyn,6.0,1995,Category 3 hurricane,The Caribbean Bermuda,2.10
33,40,Agnes,26.0,1972,Category 1 hurricane,Mexico Cuba Eastern United States,2.10
34,41,Dean,6.0,2007,Category 5 hurricane,The Caribbean Central America,1.95
35,42,Joan,6.0,1988,Category 4 hurricane,Lesser Antilles Colombia Venezuela Central Ame...,1.87
36,43,Fifi,6.0,1974,Category 2 hurricane,Jamaica Central America Mexico,1.80
37,44,Frederic,6.0,1979,Category 4 hurricane,The Caribbean Southeastern United States,1.77
38,45,Dolly,6.0,2008,Category 2 hurricane,Cayman Islands Mexico Southwestern United States,1.60
39,46,Allen,6.0,1980,Category 5 hurricane,The Caribbean Yucatán Peninsula Mexico South T...,1.57
40,47,David,6.0,1979,Category 5 hurricane,The Caribbean United States East Coast,1.54
41,48,Alex,6.0,2010,Category 2 hurricane,Central America Greater Antilles Texas,1.52
42,49,Juan,6.0,1985,Category 1 hurricane,United States Gulf Coast,1.50
43,50,Bob,6.0,1991,Category 3 hurricane,United States East Coast Canada,1.50
44,51,Roxanne,6.0,1995,Category 3 hurricane,Mexico,1.50
45,52,Ingrid,6.0,2013,Category 1 hurricane,Mexico,1.50
46,53,Betsy,6.0,1965,Category 4 hurricane,Louisiana South Florida Caribbean,1.42
47,54,Camille,26.4,1969,Category 5 hurricane,Mississippi Louisiana Alabama Virginia Cuba,1.42
48,55,Elena,6.0,1985,Category 3 hurricane,Cuba United States Gulf Coast,1.30
49,56,Isidore,6.0,2002,Category 3 hurricane,Cuba Yucatán Peninsula Louisiana,1.28
50,57,Lili,6.0,2002,Category 4 hurricane,Lesser Antilles Greater Antilles Gulf Coast of...,1.16
51,58,Alberto,6.0,1994,Tropical storm,Southeastern United States,1.03
52,59,Emily,6.0,2005,Category 5 hurricane,The Caribbean Honduras Belize Mexico Texas,1.01
53,60,Bonnie,6.0,1998,Category 3 hurricane,Lesser Antilles East Coast of the United States,1.00

In [272]:
# Reset index
cost_df = cost_df.reset_index(drop=True)
cost_df.head()

,name,norm_damage_usd,year,category,states,damage_usd_int
0,Katrina,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.0
1,Harvey,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.0
2,Irma,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.2
3,Sandy,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.7
4,Ike,35.2,2008,Category 4 hurricane,Greater Antilles Texas Louisiana Midwestern Un...,38.0

In [276]:
cost_df.to_sql(name='Cost', con=engine, if_exists='append', index=False)

In [277]:
most_costly_hurricanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             61 non-null     object
 1   norm_damage_usd  54 non-null     float64
 2   year             61 non-null     int64
 3   category         61 non-null     object
 4   states           61 non-null     object
 5   damage_usd_int   61 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 3.0+ KB

In [275]:
most_costly_hurricanes.head()

,name,norm_damage_usd,year,category,states,damage_usd_int
0,Katrina,116.9,2005,Category 5 hurricane,Louisiana Mississippi The Bahamas United State...,125.0
1,Harvey,62.2,2017,Category 4 hurricane,Texas Louisiana South America Central America ...,125.0
2,Maria,NaN,2017,Category 5 hurricane,Puerto Rico Lesser Antilles Greater Antilles C...,90.0
3,Irma,31.0,2017,Category 5 hurricane,Lesser Antilles Greater Antilles Caribbean Sea...,77.2
4,Sandy,73.5,2012,Category 3 hurricane,The Caribbean United States East Coast Eastern...,68.7